* {
  padding: 0;
  margin: 0;
}
.navBar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 10px 20px;
}
.navLinks {
  background-color: whitesmoke;

  display: flex;
  ul {
    list-style: none;
    display: flex;
    width: 500px;
    align-items: centre;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.images {
  background-color: rgba(121, 74, 165, 0.801);

  display: grid;
  margin-left: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 20px */

  img {
    width: 300px;
    border-radius: 4px;
    border: 500px black;
  }
  p {
    word-wrap: break-word;
  }
}
