* {
  padding: 0;
  margin: 0;
}
.name {
  padding: 20px 80px;
  height: 20vh;
  background-color: rgb(114, 8, 105);
  text-shadow: 3px 3px 4px;

  color: aliceblue;
  font-size: 50px;

  p {
    padding: 10px;
    padding-left: 100px;
    margin: 10px 20px;
    text-shadow: 3px 3px;
  }
}

.tasks {
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTodo {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  p {
    font-size: 40px;
    margin-top: 27px;
    margin-left: 20px;
    font-weight: bold;
  }
  button {
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(126, 8, 120);
    border-radius: 20px;
    width: 50px;
    height: 40px;
    margin: 30px;
    cursor: pointer;
    color: #000000;
    border: none;
    /* margin-left: 100px; */
  }
  button:hover {
    background-color: rgba(126, 8, 120, 0.829);
    width: 60px;
  }
}

.newTask {
  height: 30px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  li {
    font-size: 20px;
  }
  button {
    background-color: rgba(211, 131, 207, 0.3);
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 20px;
    cursor: pointer;
    padding: 2px 2px;
    margin-left: 5px;
  }
  button:hover {
    background-color: rgba(201, 182, 200, 0.521);
    width: 60px;
  }
}
.tasks {
  background-color: rgba(126, 8, 120, 0.829);
  height: 300px;
  width: 520px;
  margin-left: 40px;
  border-radius: 20px;
}

.todoBody {
  background: url(images/bg.png) no-repeat;
  height: 75vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.popUp {
  margin-left: 400px;
  margin-top: 30px;
  width: 500px;
  height: 450px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-color: gba(126, 8, 120, 0.829);
  border: 5px;
  padding-top: 20px;
  /* visibility: hidden; */
  
}

.container {
  margin-right: 50px;
  background-color: rgba(236, 16, 225, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 80px;
  h1 {
    width: 600px;
    height: 30px;
    font-size: 50px;
    text-align: center;
    color: rgb(114, 8, 105);
    margin-top: 15px;
  }
}


.addNewTask{
  display: flex;
  flex-direction: column;
  input{
    width: 300px;
    height: 20px;
    border:20px #000000;
    font-size: 20px;
    padding:10px 0px;
    margin-top: 5px;
    
  }
  textarea{
    width: 300px;
    height: 100px;
    font-size: 20px;
    margin-top: 15px;
  }

  button {
    background-color: rgba(172, 166, 172, 0.3);
    width: 70px;
    height: 50px;   
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  button:hover {
    background-color: rgba(201, 182, 200, 0.521);
    width: 90px;
  }
}
.addNewTaskContainer{

  
  width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-color: gba(126, 8, 120, 0.829);
  border: 5px;
  background-color: rgb(126, 8, 120);
  padding-top: 20px;
  visibility: hidden;


}
.viewTaskContainer{

  margin-top: 10px;
  width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-color: gba(126, 8, 120, 0.829);
  border: 5px;
  background-color: rgb(126, 8, 120);
  padding-top: 5px;
  visibility: hidden;
  
    h1{
      margin-top:5px ;
    }
    h4{
       margin-top: 20px;
      padding-left: 100px;
    }

}